.no-display {
    display: none;
}

.ck-button input:checked ~ label {
    color: white;
    background-color: #fd875e;
}

.ck-button label {
    background-color: #EFEFEF;
    border: 1px solid #D0D0D0;
    margin: 5px;
    padding: 5px;
    float:left;
}
