.button {
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid #fd875e;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fd875e;
    color: #fff;
    -webkit-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in
}

.button:focus,
.button:hover {
    background-color: #f7900a;;
    border-color: #f57009;
    text-decoration: none;
    color: white;
}
.button-neutral {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #141414
}
.button-neutral:focus,
.button-neutral:hover {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #141414
}
.button-transparent {
    border-color: #e6e6e6;
    color: #141414;
    background-color: transparent
}
.button-transparent:focus,
.button-transparent:hover,
.button-transparent.active {
    background-color: #313131;
    border-color: #313131;
    color: #fff
}
.button-transparent[disabled] {
    border-color: #e6e6e6 !important;
    color: #141414 !important;
    background-color: transparent !important
}
.button-discreet {
    border-color: #d5d8d9;
    color: #b4b4b4;
    background-color: transparent
}
.button-discreet:focus,
.button-discreet:hover,

.button-discreet.active {
    background-color: #313131;
    border-color: #313131;
    color: #fff
}
.button-medium {
    padding: 8px 15px;
    font-size: 12px
}
.button-wide-content {
    padding: 12px 6px;
    font-size: 12px
}
