.button {
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid #008FF9;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #0da5fd;
    color: #fff;
    margin-left: 25px;
    -webkit-transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, border 0.2s ease-in, color 0.2s ease-in
}
.button:focus,
.button:hover {
    background-color: #008FF9;
    border-color: #016bfb
}
.button-neutral {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #141414
}
.button-neutral:focus,
.button-neutral:hover {
    background-color: #fff;
    border-color: #e6e6e6;
    color: #141414
}
.button-transparent {
    border-color: #e6e6e6;
    color: #141414;
    background-color: transparent
}
.button-transparent:focus,
.button-transparent:hover,
.button-transparent.active {
    background-color: #313131;
    border-color: #313131;
    color: #fff
}
.button-transparent[disabled] {
    border-color: #e6e6e6 !important;
    color: #141414 !important;
    background-color: transparent !important
}
.button-discreet {
    border-color: #d5d8d9;
    color: #b4b4b4;
    background-color: transparent
}
.button-discreet:focus,
.button-discreet:hover,
.button-discreet.active {
    background-color: #313131;
    border-color: #313131;
    color: #fff
}
.button-medium {
    padding: 8px 15px;
    font-size: 12px
}
.button-wide-content {
    padding: 12px 6px;
    font-size: 12px
}
.category-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: currentColor
}
.category-marker.neutral {
    color: #7f8c8d;
    background-color: #7f8c8d
}

.favourites-button,
.follower-button {
    margin-right: 30px;
    border: none;
    color: #3d3d3d;
    text-decoration: none;
    background: none;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in
}
.favourites-button:hover,
.follower-button:hover {
    color: #B9B9B9
}
.favourites-button.big,
.follower-button.big {
    font-size: 18px;
    font-weight: 600
}
.favourites-button-icon,
.follower-button-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}
.favourites-button-icon {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -320px -120px;
    width: 17px;
    height: 16px
}
.follower-button-icon {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -440px -440px;
    width: 34px;
    height: 35px
}
.favourites-button-nb,
.follower-button-nb {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 13px;
    height: 13px;
    font-size: 8px;
    text-align: center;
    color: #fafafa;
    background-color: #3d3d3d;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff
}
.misc-title {
    width: 40%;
    margin: 20px auto;
    font-weight: 600
}
.misc-title-min {
    font-size: 16px;
    font-weight: 600
}
.misc-text {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    line-height: 24px
}
.misc-highlight {
    color: #0da5fd
}
.misc-column {
    display: table-cell;
    width: 33%;
    padding: 0 20px;
    text-align: justify
}
.legal-notice {
    background-color: #f7f7f7
}
.legal-notice .wrapper {
    padding-top: 60px;
    padding-bottom: 60px
}
.legal-notice-ban {
    width: 100%;
    height: 300px;
    background-image: url("/temp-images/backgrounds/mouette.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.legal-notice-section {
    padding-bottom: 30px;
    text-align: center
}
.legal-notice-header .misc-text {
    margin: 0
}
.legal-notice-description .misc-text {
    text-align: justify
}
#parachute {
    padding-bottom: 170px
}
#parachute h2 {
    margin: 0;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    text-align: center
}
#parachute h3 {
    margin: 0;
    padding: 35px 0 0;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    color: #000
}
#parachute h4 {
    margin: 0;
    padding: 15px 0 0;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    color: #777
}
#parachute .subjects {
    padding: 5px 0 10px;
    font-size: 0
}
#parachute .subjects a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    margin: 9px 9px 0 0;
    padding: 0 19px;
    border: 1px solid #e6e6e6;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    background-color: #ffffff;
    color: #3d3d3d;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}
#parachute .subjects a:hover {
    color: #7E7E7E
}
.blog-menu {
    width: auto
}
.blog-menu>ul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    table-layout: fixed
}
.blog-menu>ul>li {
    display: table-cell;
    height: 50px;
    text-align: center
}
.blog-menu>ul>li>div {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2
}
.blog-menu>ul>li>div>a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 0px solid #de5f7a;
    font-size: 16px;
    color: #949494;
    text-decoration: none;
    background: #fff;
    -webkit-transition: height 0.3s, border 0.3s, color 0.3s;
    transition: height 0.3s, border 0.3s, color 0.3s
}
.blog-menu>ul>li>div .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 34px;
    background: url("../images/backgrounds/border_blog_menu.png");
    opacity: 0;
    -webkit-transition: opacity 0.3s, bottom 0.3s;
    transition: opacity 0.3s, bottom 0.3s
}
.blog-menu>ul>li>div .border+.border {
    left: auto;
    right: 0
}
.blog-menu>ul>li.selected>div>a,
.blog-menu>ul>li:hover>div>a {
    height: 65px;
    border-bottom: 6px solid #de5f7a;
    color: #1e1e1e
}
.blog-menu>ul>li.selected>div .border,
.blog-menu>ul>li:hover>div .border {
    bottom: -15px;
    opacity: 1
}
.blog-menu>ul>li:hover>.submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.blog-menu>ul>li:hover>.submenu>div {
    margin-top: 0
}
.blog-menu>ul>li>.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
    z-index: 1;
    overflow: hidden
}
.blog-menu>ul>li>.submenu>div {
    background: #f7f7f7;
    margin-top: -50px;
    -webkit-transition: margin-top 0.3s;
    transition: margin-top 0.3s
}
.blog-menu>ul>li>.submenu>div>ul {
    padding: 30px 0;
    text-align: left
}
.blog-menu>ul>li>.submenu>div>ul>li {
    display: inline-block;
    width: 20%;
    text-align: center
}
.blog-menu>ul>li>.submenu>div>ul>li>ul {
    display: inline-block;
    padding: 0
}
.blog-menu>ul>li>.submenu>div>ul>li>ul>li {
    text-align: left
}
.blog-menu>ul>li>.submenu>div>ul>li>ul>li a {
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
    color: #949494;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.blog-menu>ul>li>.submenu>div>ul>li>ul>li a.see_more {
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px
}
.blog-menu>ul>li>.submenu>div>ul>li>ul>li a:hover {
    color: #1e1e1e
}
.blog-menu>ul:hover>li.selected>div>a {
    height: 50px;
    border-bottom: 0px solid #de5f7a;
    color: #949494
}
.blog-menu>ul:hover>li.selected>div .border {
    bottom: 0;
    opacity: 0
}
.blog-menu>ul:hover>li:hover>div>a {
    height: 65px;
    border-bottom: 6px solid #de5f7a;
    color: #1e1e1e
}
.blog-menu>ul:hover>li:hover>div .border {
    bottom: -15px;
    opacity: 1
}
.sticky .blog-menu>ul>li.selected>div>a {
    height: 50px;
    border-bottom: 0px solid #de5f7a
}
.sticky .blog-menu>ul>li.selected>div .border {
    opacity: 0;
    bottom: 0
}
.sticky .blog-menu>ul>li:hover>div>a {
    height: 65px;
    border-bottom: 6px solid #de5f7a;
    color: #1e1e1e
}
.sticky .blog-menu>ul>li:hover>div .border {
    bottom: -15px;
    opacity: 1
}
.blog {
    padding-top: 60px;
    background: #f7f7f7
}
.blog .visual {
    height: 260px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center
}
.blog .visual h1 {
    margin: 0;
    padding: 65px 0 0;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    text-align: center
}
.blog .visual p {
    padding: 10px 0 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center
}
.blog.blog-list {
    padding-bottom: 30px
}
.blog.blog-list .highlights_container {
    margin-top: -40px
}
.blog.blog-list .highlights_container .highlights {
    width: 1000px;
    margin-left: -20px;
    padding-bottom: 30px;
    font-size: 0
}
.blog.blog-list .highlights_container .highlights .highlight {
    position: relative;
    display: inline-block;
    width: 313px;
    height: 200px;
    margin-left: 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: top
}
.blog.blog-list .highlights_container .highlights .highlight span {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.blog.blog-list .articles-head {
    padding-bottom: 30px;
    font-weight: 600;
    color: #3d3d3d;
    line-height: 38px
}
.blog.blog-list .articles-head:after {
    content: '';
    display: table;
    clear: both;
    line-height: 38px
}
.blog.blog-list .articles-head>span {
    font-size: 20px;
    vertical-align: middle
}
.blog.blog-list .articles-head .right {
    float: right
}
.blog.blog-list .articles-head .right select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    line-height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff
}
.blog.blog-list .articles {
    width: 1000px;
    margin-left: -20px;
    font-size: 0
}
.blog.blog-list .articles .article {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 313px;
    height: 484px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-bottom: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: top;
    background: #fff;
    text-decoration: none
}
.blog.blog-list .articles .article .picture {
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center
}
.blog.blog-list .articles .article .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 248px;
    padding: 40px 30px 0 40px;
    font-size: 12px;
    color: #777;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis
}
.blog.blog-list .articles .article .content .title>span {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #1e1e1e
}
.blog.blog-list .articles .article .content .date {
    padding: 5px 0 10px
}
.blog.blog-list .articles .article .content .date>span {
    display: inline-block;
    height: 22px;
    padding: 0 5px;
    line-height: 22px;
    background: #2d2d2d;
    -webkit-border-radius: 3px;
    border-radius: 3px
}
.blog.blog-article {
    padding-bottom: 110px
}
.blog.blog-article .blog-wrapper {
    width: 600px;
    margin: 0 auto
}
.blog.blog-article .bloc-title {
    padding: 40px 0 30px;
    font-size: 20px;
    font-weight: 600;
    color: #3d3d3d;
    text-align: center
}
.blog.blog-article .blog-bloc {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    padding: 0 60px;
    border-bottom: 1px solid #e7e7e7;
    background: #ffffff
}
.blog.blog-article .blog-bloc.pink {
    border-top: 3px solid #0da5fd
}
.blog.blog-article .blog-bloc.title {
    margin-top: -75px;
    padding-top: 30px;
    padding-bottom: 25px
}
.blog.blog-article .blog-bloc.title h1 {
    margin: 0;
    padding: 0 0 5px;
    font-size: 24px;
    font-weight: 600;
    color: #1e1e1e
}
.blog.blog-article .blog-bloc.title span {
    font-size: 12px;
    font-weight: 600;
    color: #777
}
.blog.blog-article .blog-bloc.title span span {
    color: #1e1e1e
}
.blog.blog-article .blog-bloc.article-content {
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 12px;
    line-height: 18px;
    color: #777
}
.blog.blog-article .blog-bloc.article-content div {
    margin: 0 0 25px 0
}
.blog.blog-article .blog-bloc.article-content p,
.blog.blog-article .blog-bloc.article-content h2,
.blog.blog-article .blog-bloc.article-content h3,
.blog.blog-article .blog-bloc.article-content h4 {
    margin: 0;
    padding: 0
}
.blog.blog-article .blog-bloc.article-content h2 {
    font-size: 16px;
    color: #2a2a2a
}
.blog.blog-article .blog-bloc.article-content h3 {
    font-size: 14px;
    color: #2a2a2a
}
.blog.blog-article .blog-bloc.article-content p {
    font-size: 12px
}
.blog.blog-article .blog-bloc.article-content strong,
.blog.blog-article .blog-bloc.article-content h4 {
    font-size: 12px;
    font-weight: 600;
    color: #2a2a2a
}
.blog.blog-article .blog-bloc.article-content ul {
    margin: 0;
    list-style-type: disc
}
.blog.blog-article .blog-bloc.article-content img {
    max-width: 100%
}
.blog.blog-article .blog-bloc.article-content img+span {
    display: block;
    font-size: 10px;
    text-align: center
}
.blog.blog-article .blog-bloc.article-content blockquote {
    margin: 0 40px;
    font-style: italic;
    text-align: center
}
.blog.blog-article .blog-bloc.article-content mark {
    padding: 0;
    margin: 0;
    color: #0da5fd;
    background: none
}
.blog.blog-article .blog-bloc.article-content a {
    color: #0da5fd;
    /* text-decoration: underline */
}
.blog.blog-article .blog-bloc.article-content a:hover {
    text-decoration: none
}
.blog.blog-article .blog-bloc.author {
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 20px
}
.blog.blog-article .blog-bloc.author .table {
    width: 100%
}
.blog.blog-article .blog-bloc.author .table .cell {
    padding-left: 25px;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 18px
}
.blog.blog-article .blog-bloc.author .table .cell:first-child {
    width: 63px;
    padding-left: 0
}
.blog.blog-article .blog-bloc.author .table .cell .picture {
    width: 64px;
    height: 64px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 32px;
    border-radius: 32px
}
.blog.blog-article .blog-bloc.author .table .cell strong {
    font-size: 14px;
    font-weight: bold
}
.blog.blog-article .blog-bloc.author .table .cell a {
    /* text-decoration: underline; */
    color: #0da5fd
}
.blog.blog-article .blog-bloc.social {
    height: 60px;
    margin-top: 10px;
    padding: 0;
    border: 0
}
.blog.blog-article .blog-bloc.social .cell {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    color: #ededed;
    cursor: pointer
}
.blog.blog-article .blog-bloc.social .cell .bubble {
    position: relative;
    display: inline-block;
    margin-left: 3px;
    height: 20px;
    padding-left: 5px
}
.blog.blog-article .blog-bloc.social .cell .bubble .arrow {
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-right: 5px solid #ffffff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 0px solid transparent
}
.blog.blog-article .blog-bloc.social .cell .bubble .value {
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    font-size: 10px;
    line-height: 20px;
    background: #fff;
    color: #000;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.blog.blog-article .blog-bloc.social .email {
    background: #252525
}
.blog.blog-article .blog-bloc.social .email .bubble .value {
    color: #252525
}
.blog.blog-article .blog-bloc.social .google {
    background: #c14646
}
.blog.blog-article .blog-bloc.social .google .bubble .value {
    color: #c14646
}
.blog.blog-article .blog-bloc.social .twitter {
    background: #2cb0c8
}
.blog.blog-article .blog-bloc.social .twitter .bubble .value {
    color: #2cb0c8
}
.blog.blog-article .blog-bloc.social .facebook {
    background: #244680
}
.blog.blog-article .blog-bloc.social .facebook .bubble .value {
    color: #244680
}
.blog.blog-article .blog-bloc.link {
    margin-top: 40px;
    padding: 30px
}
.blog.blog-article .blog-bloc.link .cell {
    vertical-align: middle
}
.blog.blog-article .blog-bloc.link .cell>div:first-child {
    padding-bottom: 5px
}
.blog.blog-article .blog-bloc.link .cell>div:first-child span {
    font-size: 18px;
    color: #2a2a2a;
    line-height: 20px
}
.blog.blog-article .blog-bloc.link .cell>div span {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    line-height: 16px
}
.blog.blog-article .blog-bloc.link .cell:first-child {
    width: 360px;
    padding-right: 50px
}
.blog.blog-article .articles {
    width: 613px;
    margin-left: -13px;
    font-size: 0
}
.blog.blog-article .articles .article {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 191px;
    height: 246px;
    margin-bottom: 10px;
    margin-left: 13px;
    border-bottom: 1px solid #e7e7e7;
    vertical-align: top;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none
}
.blog.blog-article .articles .article .picture {
    height: 122px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center
}
.blog.blog-article .articles .article .content {
    padding: 15px 20px 0
}
.blog.blog-article .articles .article .content .title>span {
    display: block;
    display: -webkit-box;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #1e1e1e;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}
.blog.blog-article .articles .article .content .date {
    padding: 5px 0 10px
}
.blog.blog-article .articles .article .content .date>span {
    display: inline-block;
    padding: 0 5px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    background: #2d2d2d;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #aaa
}
.blog.blog-article .buttons {
    text-align: center
}
.blog.blog-article .buttons .button {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 43px;
    padding: 0 30px;
    line-height: 43px
}
.blog.blog-article .buttons .button.facebook {
    width: 63px;
    border: none;
    border-bottom: 1px solid #233a6a;
    background: url("../images/logo_facebook.png") no-repeat center center #3b5998
}
.blog.blog-article .buttons .button.facebook:hover {
    border-bottom: 1px solid #3b5998;
    background-color: #233a6a
}
.blog.blog-article .buttons .button.twitter {
    width: 66px;
    border: none;
    border-bottom: 1px solid #3a7b99;
    background: url("../images/logo_twitter.png") no-repeat center center #60a8ca
}
.blog.blog-article .buttons .button.twitter:hover {
    border-bottom: 1px solid #60a8ca;
    background-color: #3a7b99
}
.blog.blog-article .buttons .button+.button {
    margin-left: 20px
}
.blog.blog-article .write-comment .table {
    width: 100%
}
.blog.blog-article .write-comment .table .cell {
    vertical-align: top
}
.blog.blog-article .write-comment .table .cell:first-child {
    width: 265px;
    padding-right: 20px
}
.blog.blog-article .write-comment .table .cell .textarea {
    height: 155px
}
.blog.blog-article .write-comment .submit {
    padding-top: 10px;
    text-align: center
}
.blog.blog-article .write-comment .submit .button {
    padding-right: 50px;
    padding-left: 50px
}
.blog.blog-article .comments {
    padding-top: 50px
}
.blog.blog-article .comments .comment {
    padding: 20px 30px;
    font-size: 12px;
    font-weight: 600
}
.blog.blog-article .comments .comment .name>span {
    color: #2a2a2a
}
.blog.blog-article .comments .comment .text {
    padding-top: 5px
}
.blog.blog-article .comments .comment .text p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #777
}
.blog.blog-article .comments .date {
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    color: #9e9e9e;
    text-align: right
}
.blog.blog-article .table {
    display: table
}
.blog.blog-article .table.fixed {
    table-layout: fixed
}
.blog.blog-article .table .cell {
    display: table-cell
}
.blog.blog-article .blog-bloc-separator {
    width: 470px;
    height: 1px;
    margin: 25px auto 15px;
    background: #ebebeb
}
.blog-footer {
    font-size: 12px;
    text-align: center;
    color: #7a7a7a
}
@media all and (max-width: 980px) {
    .blog-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        z-index: 7;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.5s ease-out;
        transition: transform 0.5s ease-out
    }
    .blog-menu>ul {
        display: block;
        width: auto;
        padding: 40px 0 0 30px
    }
    .blog-menu>ul>li {
        display: block;
        height: auto;
        text-align: left
    }
    .blog-menu>ul>li>div {
        position: static;
        width: auto;
        height: auto
    }
    .blog-menu>ul>li>div>a {
        position: static;
        display: inline-block;
        width: auto;
        height: auto;
        padding: 20px 0;
        border-bottom: 0;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        -webkit-transition: none;
        transition: none
    }
    .blog-menu>ul>li>div .border {
        display: none
    }
    .blog-menu>ul>li.selected>div>a,
    .blog-menu>ul>li:hover>div>a {
        height: auto;
        border-bottom: 0;
        color: #000
    }
    .blog-menu>ul>li>.submenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        width: 100%;
        z-index: 7;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.5s ease-out;
        transition: transform 0.5s ease-out;
        opacity: 1;
        visibility: visible
    }
    .blog-menu>ul>li>.submenu>div {
        margin-top: 0;
        height: 100%;
        background: #fff
    }
    .blog-menu>ul>li>.submenu>div>ul {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
        padding: 40px 0 40px 30px;
        overflow: scroll
    }
    .blog-menu>ul>li>.submenu>div>ul>li {
        display: block;
        width: auto;
        text-align: left
    }
    .blog-menu>ul>li>.submenu>div>ul>li>ul>li a {
        color: #000
    }
    .blog-menu>ul>li>.submenu>div>ul>li>ul>li.mobile-only a {
        color: #0da5fd
    }
    .blog-menu>ul>li>.submenu.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    .blog-menu>ul>li:hover>.submenu {
        opacity: 1;
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s ease-out;
        transition: transform 0.5s ease-out
    }
    .blog-menu>ul:hover>li.selected>div>a {
        height: auto;
        border-bottom: 0;
        color: #000
    }
    .blog-menu>ul:hover>li:hover>div>a {
        height: auto;
        border-bottom: 0;
        color: #000
    }
    .blog {
        padding-top: 15px
    }
    .blog .visual {
        height: auto;
        padding: 0 10px
    }
    .blog .visual h1 {
        padding: 40px 0 0;
        font-size: 20px
    }
    .blog .visual p {
        padding: 10px 0 80px;
        font-size: 11px;
        line-height: 15px
    }
    .blog .visual p br {
        display: none
    }
    .blog.blog-list .highlights_container {
        width: auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch
    }
    .blog.blog-list .highlights_container .highlights {
        width: 800px;
        margin: 0 auto;
        padding-right: 20px
    }
    .blog.blog-list .highlights_container .highlights .highlight {
        width: 240px;
        height: 153px;
        margin-left: 20px
    }
    .blog.blog-list .highlights_container .highlights .highlight span {
        font-size: 14px
    }
    .blog.blog-list .articles-head>span {
        font-size: 15px
    }
    .blog.blog-list .articles {
        width: auto;
        margin-left: 0
    }
    .blog.blog-list .articles .article {
        width: auto;
        margin-left: 0
    }
    .blog.blog-list .articles .article .content {
        padding: 20px 20px 0;
        height: 260px
    }
    .blog.blog-article .visual {
        height: 325px
    }
    .blog.blog-article .wrapper {
        width: auto
    }
    .blog.blog-article .blog-bloc-separator {
        width: 75%
    }
    .blog.blog-article .blog-bloc {
        width: 87.5%;
        padding-left: 20px;
        padding-right: 20px
    }
    .blog.blog-article .blog-bloc.article-content iframe {
        width: 100%;
        height: auto
    }
    .blog.blog-article .blog-bloc.article-content blockquote {
        margin: 0 20px
    }
    .blog.blog-article .blog-bloc.social {
        display: block;
        height: auto;
        width: 100%;
        font-size: 0
    }
    .blog.blog-article .blog-bloc.social .cell {
        display: inline-block;
        width: 40.5%;
        height: 45px;
        margin-left: 6.5%;
        margin-bottom: 10px;
        line-height: 45px;
        vertical-align: top
    }
    .blog.blog-article .blog-bloc.social .cell .bubble {
        vertical-align: middle
    }
    .blog.blog-article .blog-bloc.social .cell .bubble .value {
        vertical-align: top
    }
    .blog.blog-article .blog-bloc.link {
        display: block
    }
    .blog.blog-article .blog-bloc.link .cell {
        display: block;
        width: auto;
        text-align: center
    }
    .blog.blog-article .blog-bloc.link .cell .button {
        width: 100%
    }
    .blog.blog-article .blog-bloc.link .cell:first-child {
        width: auto;
        padding-right: 0;
        padding-bottom: 15px
    }
    .blog.blog-article .write-comment .table {
        display: block
    }
    .blog.blog-article .write-comment .table .cell {
        display: block
    }
    .blog.blog-article .write-comment .table .cell:first-child {
        width: auto;
        padding-right: 0
    }
    .blog.blog-article .comments .comment {
        width: auto
    }
    .blog.blog-article .blog-wrapper {
        width: 87.5%
    }
    .blog.blog-article .blog-wrapper .articles_container {
        overflow: scroll;
        -webkit-overflow-scrolling: touch
    }
    .blog.blog-article .blog-wrapper .articles_container .articles {
        width: 1224px
    }
}
.inscription-connexion {
    width: 100%
}
.inscription-connexion .register-form .register-step-title {
    margin-bottom: 20px
}
.inscription-connexion .register-step-subtitle {
    width: 30%;
    margin: 0px auto 20px
}
.inscription-connexion .form-wrapper {
    width: 245px;
    margin: 0 auto
}
.inscription-connexion .register-column {
    display: block
}
.inscription-connexion .register-column.hide {
    display: none
}
.inscription-connexion.inscription-step2 .register-step-subtitle {
    width: 50%
}
.inscription-connexion .form-action .button:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}
.inscription-connexion .form-action .button.hat:before {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -360px -640px;
    width: 30px;
    height: 16px
}
.inscription-connexion .form-action .button.glasses:before {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -320px -640px;
    width: 28px;
    height: 12px
}
.inscription-connexion .connection-form {
    padding-top: 0
}
@media all and (max-width: 980px) {
    .inscription-connexion.register-student-step1 {
        padding: 40px 0 0
    }
    .inscription-connexion .register-step-subtitle {
        width: 100%
    }
    .inscription-connexion .form-wrapper {
        width: 100%;
        padding: 0 20px
    }
    .inscription-connexion.inscription-step2 .register-step-subtitle {
        width: 90%
    }
    .inscription-connexion.inscription-step2 .form-action {
        padding: 0 20px
    }
    .inscription-connexion.inscription-step2 .button {
        width: 100%
    }
    .inscription-connexion.inscription-step2 .button:before {
        display: none
    }
    .register-column:first-child {
        padding-right: 0
    }
}

