.component-cols ul {
    padding: 0;
    margin: 0;
    text-align: center
}
.component-cols .component-col {
    display: inline-block;
    width: 290px;
    margin-left: 50px;
    vertical-align: top
}
.component-cols .component-col:first-child {
    margin-left: 0px
}
.component-cols .component-col-icon {
    height: 39px;
    margin-bottom: 14px
}
.component-cols .component-col-title {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1e;
    line-height: 1
}
.component-cols .component-col-content {
    margin: 0;
    font-size: 12px;
    color: #777;
    line-height: 1.5
}
.component-cols .icon {
    margin: 0 auto
}
.component-cols .icon.icon-clothes {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -120px -320px;
    width: 75px;
    height: 39px
}
.component-cols .icon.icon-coins {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -200px -320px;
    width: 76px;
    height: 32px
}
.component-cols .icon.icon-hands {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -280px -320px;
    width: 59px;
    height: 34px
}
.component-cols.component-cols-big .component-col-icon {
    height: 76px
}
.component-cols.component-cols-big .component-col-content {
    font-size: 14px
}
.component-cols.component-cols-big .icon.icon-watch {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: 0px -120px;
    width: 64px;
    height: 76px
}
.component-cols.component-cols-big .icon.icon-coins {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -80px -120px;
    width: 145px;
    height: 60px
}
.component-cols.component-cols-big .icon.icon-cloth {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -240px -120px;
    width: 71px;
    height: 76px
}

@media all and (max-width: 980px) {
    .component-cols .component-col {
        display: inline-block;
        width: 100%;
        margin: 50px 0 0 0;
        vertical-align: top
    }
    .component-cols .component-col:first-child {
        margin: 0
    }
}
.landing-testimonies.component-testimonies .wrapper>ul>li {
    height: auto
}
.landing-testimonies.component-testimonies .component-testimony-student {
    float: none;
    height: auto;
    padding: 20px
}
.landing-testimonies.component-testimonies .component-testimony-student.even {
    margin-left: 400px
}
.landing-testimonies.component-testimonies .component-testimony-content {
    height: 100%
}
.landing-testimonies.component-testimonies .component-testimony-text {
    height: auto;
    overflow: none
}
.landing-testimonies.component-testimonies .component-testimony-inner:after {
    display: none
}
.landing-testimonies.component-testimonies .rating.rating-inline {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 5px
}
.landing-testimonies.component-testimonies .star-full,
.landing-testimonies.component-testimonies .star-half,
.landing-testimonies.component-testimonies .star-empty {
    margin-top: 0
}
.component-article {
    height: 156px;
    border-bottom: 1px solid #eaeaea;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden
}
.component-article .component-article-img {
    display: inline-block;
    width: 155px;
    height: 155px;
    margin-right: 45px;
    vertical-align: middle
}
.component-article .component-article-img img {
    width: 100%;
    height: 100%;
    border: 0
}
.component-article .component-article-description {
    display: inline-block;
    width: 600px;
    margin-right: 22px;
    vertical-align: middle
}
.component-article .component-article-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #1e1e1e;
    text-decoration: none
}
.component-article .component-article-excerpt {
    font-size: 12px;
    color: #777777;
    line-height: 1.5
}
.component-article .component-article-see {
    display: inline-block
}
.component-article .component-article-tags {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 10px
}
.component-article .component-article-tags li {
    display: inline-block;
    margin-left: 10px
}
.component-article .component-article-tags li:first-child {
    margin-left: 0
}
.component-breadcrumb {
    margin-bottom: 15px;
    color: #3d3d3d
}
.component-breadcrumb ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}
.component-breadcrumb li {
    display: inline;
    white-space: initial;
    vertical-align: top
}
.component-breadcrumb .separator {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -360px -320px;
    width: 4px;
    height: 7px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle
}
.component-breadcrumb span {
    font-weight: 600
}
.component-breadcrumb a {
    color: #3d3d3d;
    text-decoration: none
}

.component-dashboard-sidebar {
    width: 200px
}

