.favorites h1 {
    margin: 0;
    padding: 0 0 40px;
    font-size: 30px;
    font-weight: 600;
    color: #1e1e1e;
    text-align: center
}
.favorites h1>span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 40px;
    height: 40px;
    padding: 0 5px;
    font-size: 22px;
    line-height: 40px;
    background: #1e1e1e;
    color: #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    text-align: center
}
.favorites .component-search-results-list .component-search-results .component-search-result {
    position: relative;
    overflow: visible
}
.favorites .component-search-results-list .component-search-results .component-search-result .delete {
    position: absolute;
    top: 50%;
    right: -11px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background-color: lightgray;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent
}
@media all and (max-width: 980px) {
    .favorites .component-search-results-list .component-search-results .component-search-result .delete {
        top: 5px;
        right: 5px;
        margin-top: 0
    }
}

