.how_it_works {
    display: table;
    width: 100%;
    padding-bottom: 70px
}
.how_it_works .cell {
    display: table-cell;
    vertical-align: middle
}
.how_it_works .cell:first-child {
    width: 220px;
    padding-right: 20px;
    text-align: center
}
.how_it_works .cell ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.how_it_works .cell ul li {
    position: relative;
    margin-top: 70px;
    padding-left: 50px
}
.how_it_works .cell ul li:first-child {
    margin-top: 0
}
.how_it_works .cell ul li .number {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #0da5fd;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    color: #0da5fd;
    line-height: 22px
}

.how_it_works .cell ul li>div>span {
    font-size: 20px;
    font-weight: 600;
    color: #000
}
.how_it_works .cell ul li>div>p {
    margin: 0;
    padding: 5px 0 0;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 20px
}
.cupcake {
    background: url("/temp-images/sprite-FR-20160407.png") no-repeat transparent;
    background-position: -400px -280px;
    display: block;
    width: 115px;
    height: 358px;
    margin: 0 auto
}

