
/* --------------------
/* media query 
/* -------------------- */

@media all and (min-width: 980px) {
    .mobile-only {
        display: none !important
    }
}

@media all and (max-width: 980px) {
    .desktop-only {
        display: none !important
    }
}
@media all and (max-width: 980px) {
    .wrapper {
        width: 87.5%
    }
}
/* --------------------
/* common.css 
/* --------------------*/

.hidden {
    display: none
}
.oldie .mobile-only {
    display: none !important
}

.align-center {
    text-align: center
}
.align-left {
    text-align: left
}
.unstyled-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.inline-block-grid {
    font-size: 0;
    text-align: center
}
.inline-block-grid .first {
    margin-left: 0
}

.page {
    position: relative;
    padding-top: 95px;
    z-index: 1
}
@media all and (max-width: 980px) {
    .page {
        padding-top: 54px;
        z-index: 3
    }
}



.section {
    background-color: #fff
}
.section-odd {
    background-color: #f7f7f7
}
.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center
}

@media all and (max-width: 980px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px
    }
}
.a-js {
    cursor: pointer
}
.accordion-item-header {
    cursor: pointer
}
.accordion-item-content {
    display: none
}
.accordion-item.open .accordion-item-content {
    display: block
}

.landing-prof {
    background-color: #f7f7f7
}
.landing-prof-header {
    background-image: url("/temp-images/backgrounds/musicians-background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff
}
.landing-prof-header .wrapper {
    padding: 20px 0
}
.landing-prof-header .section-title {
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    width: 60%;
    margin: 20px auto;
    margin-bottom: 40px
}
.landing-prof-header .column-header {
    display: table-cell
}
.landing-prof-header .register-column {
    width: 480px;
    text-align: center
}
.landing-prof-header .form-wrapper {
    width: 250px;
    margin: 0 auto;
    color: #000
}
.landing-prof-header .form-wrapper .button {
    width: 100%
}
.landing-prof-header .form-wrapper .text-separator {
    color: #fff;
    display: block;
    padding: 10px 0;
    font-size: 12px
}
.landing-prof-header .form-wrapper>p {
    font-size: 13px
}
.description-column>div {
    margin-bottom: 40px
}
.section-sub-title {
    font-size: 18px;
    line-height: 20px
}
.section-text {
    font-size: 13px;
    line-height: 20px
}
.commercial-assets ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}
.commercial-asset {
    display: table-cell;
    text-align: center;
    width: 326.66667px
}
.commercial-asset .picto {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}
.commercial-asset .title {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600
}
.commercial-asset .description {
    display: block;
    color: #777;
    width: 60%;
    margin: 0 auto
}
.commercial-asset.time .picto {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: 0px -120px;
    width: 64px;
    height: 76px
}
.commercial-asset.prices .picto {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -80px -120px;
    width: 145px;
    height: 60px
}
.commercial-asset.prices .description {
    width: 40%
}
.commercial-asset.join-us .picto {
    background: url("/temp-images/sprite.png") no-repeat transparent;
    background-position: -240px -120px;
    width: 71px;
    height: 76px
}
.commercial-asset.join-us .title {
    width: 40%
}
.commercial-asset.join-us .description {
    width: 45%
}

.column-working {
    width: 326.66667px;
    display: table-cell;
    text-align: justify;
    padding: 0 10px;
    color: #777
}

.join-our-family .column-join {
    width: 50%;
    display: table-cell;
    vertical-align: middle
}
.join-our-family .description-column {
    padding: 40px
}
.join-our-family .section-title {
    text-align: left;
    margin-bottom: 20px
}
.join-our-family p {
    color: #777
}
.join-our-family .button {
    margin-top: 50px;
    width: 300px
}

.captcha{
    margin-top: 13px;
    margin-bottom: 13px;
}

#navbar-header {
    margin-top: 10px;
}
